<template>
  <b-container>
    <b-row>
      <b-col>
        <div class="d-flex my-3">
          <b-form-input class="mr-3"
                        value=""
                        v-model="todoText"
                        ref="input"
                        v-on:keypress.enter="addTodo"

          />
          <b-button variant="success" v-on:click="addTodo">
            <b-icon-plus/>
          </b-button>
        </div>

      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-list-group>
          <b-list-group-item v-for="todo of todos" :key="todo.id" class="d-flex justify-content-between">
            <span>{{ todo.title }}</span>
            <!--            TODO: my checkbox-->
            <!--            <v-check-box v-model="todo.completed"/>-->
            <b-checkbox v-model="todo.completed"/>
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
/*import VCheckBox from "@/components/VCheckBox";*/
export default {
  name: "Home",
  /*components: {VCheckBox},*/
  data: () => ({
    todoText: '',
    todos: []
  }),
  methods: {
    addTodo() {
      if (!this.todoText) return

      const todo = {
        title: this.todoText,
        completed: false,
        id: +(new Date())
      }

      this.todos.push(todo)

      this.todoText = ""

      this.$refs.input.focus()
    },
  },
  watch: {
    todos: {
      // eslint-disable-next-line no-unused-vars
      handler: function (newValue, oldValue) {
        console.log(1)
      },
      deep: true
    }
  }
}
</script>

<style scoped>

</style>