<template>
  <div>
    <input type="checkbox" v-bind:checked="value" v-on:change="change">
  </div>
</template>

<script>
export default {
  name: "VCheckBox",
  props: {
    value: {},
  },
  methods: {
    change(event) {

    this.$emit('input',event.target.checked)
    }
  }
}
</script>

<style scoped>

</style>